*.code-workspace
organizations/ordererOrganizations/
organizations/peerOrganizations/
node_modules/
wallet/
supplier-wallet/
channel-artifacts/
system-genesis-block/
*.tar.gz
*.txt
*.pem
*.pki
*.db
IssuerRevocationPublicKey
keystore/
IssuerPublicKey
*.id